.link {
	display: flex;
	justify-content: center;
	width: 100%;
	a {
		color: #f2f2f2;
		text-align: center;
		text-decoration: none;
		font-size: 14px;

		height: 30px;
		font-family: "Roboto", sans-serif;
	}

	padding: 8px 0;
	position: relative;
	::before {
		position: absolute;
		content: "";
		width: 50px;
		height: 2px;

		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
	}
}
.mobile_sidebar_container {
	position: fixed;
	transform: translateY(-100%);
	transition: transform 0.2s;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background: #223668;
	color: white;
	list-style: none;
	padding-top: 4rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	button {
		width: fit-content;
		padding: 12px;
		outline: none;
		border: 1px solid white;
		background-color: transparent;
	}
	a {
		width: 100%;
		font-size: 20px;
	}
	.menu_burger {
		display: block;
	}
	.active {
		::before {
			position: absolute;
			content: "";
			background-color: white;
		}
	}
	@media only screen and (min-width: 800px) {
		display: none;
	}
}

.menu_burger {
	position: absolute;
	cursor: pointer;
	display: none;
	background-color: white;
	height: 24px;
	right: 10px;
	top: 10px;
}
.hide {
	display: none;
}
.show {
	transform: translateY(0);
}

.container {
	display: flex;
	margin-left: auto;
	height: 100%;
	button {
		color: #223668;
		font-weight: 700;
	}
	.link {
		padding: 0 15px;
		a {
			color: black;
		}
		position: relative;
	}
	.active {
		::before {
			position: absolute;
			content: "";
			background-color: #223668;
		}
	}
	@media only screen and (max-width: 800px) {
		display: none;
	}
}
